<!--Esta es la view de creación de proyecto-->

<%- include('includes/head.ejs') %>

<!-- ESTILOS -->

<style>

    /* GENERAL */

    section{
        padding-top: 1.3em;
    }
    h1{
        margin-left: 1em;
        font-size: 58px;
    }

    /* HEAD */

    #head{
        display: flex;
    }

    /* BODY */

    #nombre, #crearProyecto{
        margin-left: 2.8em;
    }

    #flex{
        display: flex;
    }

    #nombre, #crearProyecto{
        display: flex;
    }

</style>

<!-- HEAD -->
<input type="hidden" id="CSRF-Tkn" value="<%= csrfToken %>">
<section>
<!--Este div de abajo es el que le da el margen a toda la página-->
    <div style="margin: 20px;">
        <section id="head">
            <div id="title">
                <h1 class="fw-light">Create a project</h1>
            </div>
        </section>

        <section id="body">
            
            <div id="nombre" class="row">
                <div >

                        <h3 class="fw-light">Name</h3>
                        <input required class="form-control" id="projName" name="projName" type="text" placeholder="Enter the name of the project..." aria-label="default input example" required>        
                        <br>            
                        <button class="btn btn-success" id="createBtn">Create</button>
                    
                </div>
            </div>

            <br><br>

            <div id="crearProyecto" class="row">
                <div class="col-md-6">
                    
                        <h3 class="fw-light">Assign Epics</h3>
                        <select required class="form-select" id="selEpic" name="selEpic" type="text"
                            placeholder="Select the epics here...." aria-label="default input example" >
                            <option selected value="NULL">Select the epics here...</option>
                            <% if (epics.length> 0) {%>
                                <%for (i in epics) {%>
                            <option value="<%= epics[i].epic_Link %>">
                                <%= epics[i].epic_Link %>: <%= epics[i].epic_Link_Summary%>
                            </option>
                                <%}%>
                            <%}%>
                        </select>
                        <br>
                        <button class="btn btn-primary" id="addBtn">Add</button>
                    
                </div>
                <div class="col-md-6">
                    <!-- <form action="/projects/create/r" method="POST"> -->
                        <h3 class="fw-light">Assigned Epics</h3>
                        <div id="Assigned_Epics_Display">
                        </div>
                    <!-- </form> -->
                </div>
            </div>
    </div>
</section>


<section>
    <% if (mensaje !='' ) {%>
        <div>
            <%= mensaje %>
        </div>
    <%}%>
</section>

<script>

    let AssignedEpics = [];
    document.getElementById("addBtn").onclick = () => {
        selectedEpic = document.getElementById("selEpic").value;
        console.log(selectedEpic);
        AssignedEpics.push(selectedEpic);

        let respuesta = '';

        if (AssignedEpics.length > 0) {
            respuesta += '<select class="form-select" id="delEpic" name="delEpic" size=5>';
                for (let epicS of AssignedEpics) {
                    respuesta += '<option>';
                        respuesta += epicS
                        respuesta += '</option>';
                }
            respuesta += '</select>';
            respuesta += '<br>';
            respuesta += '<button class="btn btn-danger">Remove</button>';
        }

        document.getElementById("Assigned_Epics_Display").innerHTML = respuesta;
    }

    document.getElementById("createBtn").onclick = () => {
        
        const data = {
            proj_Name: document.getElementById("projName").value,
            proj_Epics: AssignedEpics
        }
        const csrfToken = document.getElementById("CSRF-Tkn").value;
        if(AssignedEpics.length > 0){
            fetch('/projects/create/u', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'CSRF-Token': csrfToken
            },
            body: JSON.stringify(data)
            }) .then (response => {
            if (response.ok) {
                window.location.href = '/projects'
            }
            }) .catch(err => console.log(err))
        } else {
            // MENSAJE ERROR, OCUPA EPICS ASIGNADOS
        }
    }
    
</script>

<%- include('includes/foot.ejs') %>