<%- include('includes/head.ejs') %>
    
    <section>
        <style>
            h1{
                margin-top: 1em;
                margin-left: 1em;
                font-size: 46px;
            }
            .form-control{
                width: 900px;
                height: auto;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        </style>
        <h1>Previsualización de Epic importado</h1>
        <table>
            <thead>
              <tr>
                <th>Columna 1</th>
                <th>Columna 2</th>
                <th>Columna 3</th>
                <!-- Agrega aquí las columnas adicionales que necesites -->
              </tr>
            </thead>
            <tbody>
              <% data.forEach(function(row) { %>
              <tr>
                <td><%= row.columna1 %></td>
                <td><%= row.columna2 %></td>
                <td><%= row.columna3 %></td>
                <!-- Agrega aquí las columnas adicionales que necesites -->
              </tr>
              <% }); %>
            </tbody>
          </table>
    </section>

<%- include('includes/foot.ejs') %>