<%- include('includes/head.ejs') %>

<!-- ESTILOS -->

<style>

    /* GENERAL */

    section{
        padding-top: 1.3em;
    }
    h1{
        margin-left: 1em;
        font-size: 58px;
    }

    /* HEAD */

    #head{
        display: flex;
    }

    /* BODY */

    #nombre{
        margin-left: 2.8em;
    }

    #flex{
        display: flex;
    }

    #nombre, #crearProyecto{
        flex: 1;
    }

</style>

<!-- HEAD -->

<section>
    <section id="head">
        <div id="title">
            <h1 class="fw-light">Create a project</h1>
        </div>
    </section>

    <section id="body">
    
        <div id="flex">
            <div id="nombre">
        
                <h3 class="fw-light">Name</h3>
        
                <input class="form-control" type="text" placeholder="Enter the name of the project..."
                    aria-label="default input example" style="width: 600px;">
        
                <br><br><br><br>

                <form action="/projects/create" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h3 class="fw-light">Assign Epics</h3>

                    <select class="form-select" id="selEpic" name="selEpic" type="text" placeholder="Select the epics here...."
                        aria-label="default input example" style="width: 600px;">
                        
                        <option selected value="NULL">Select the epics here...</option>
                        
                        <% if (epics.length> 0) {%>
                            <%for (i in epics) {%>
                                <option>
                                    <%= epics[i].epic_Link %>:<%= epics[i].epic_Link_Summary%>
                                </option>
                            <%}%>
                        <%}%>

                    </select>

                    <button class="btn btn-primary" type="submit">Add</button>

                </form>
                
            </div>
        
            <div id="crearProyecto">

                <form action="/projects/create/r" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h3 class="fw-light">Assigned Epics</h3>
                    
                    <% if (epicsSelected.length> 0) {%>
                    
                        <select class="form-select" id="delEpic" name="delEpic" size=<%=(epicsSelected.length + 1) %>>
                    
                            <%for (i in epicsSelected) {%>
        
                                    <option value=<%= epicsSelected[i]%>x>
                                        <%= epicsSelected[i]%>
                                    </option>
                    
                                    <%}%>
                    
                        </select>
                    
                        <br>
                        <button class="btn btn-danger" type="submit">Remove</button>
                    
                        <%}%>

                </form>
            </div>
        </div>
    </section>
</section>

<%- include('includes/foot.ejs') %>