<%- include('includes/head.ejs') %>

<!-- ESTILOS -->
<style>

    /* HEAD */

    #head{
        padding-top: 1.3em;
    }
    #title{
        margin-left: 2.4em;
    }
    h1{
        font-size: 58px;
    }
    #flex{
        display: flex;
    }
    #title, #search, #filter{
        flex: 1;
    }
    #search{
        padding-top: 10px;
    }
    #filter{
        margin-top: 20px;
        margin-left: 50px;
    }

    /*
    
    Decidí comentar el código de labels ya que rompe la visualización de la página, pero en caso de que se busque implementar una mejora al respecto más adelante,
    el código de la grid es estable, el código de LABELS de abajo es el encargado de modificarlo.

    */

/*

    LABELS 

    #key, #summary, #type, #points, #status, #label, #epic, #asignee{
        flex: 1;
    }
    #key{
        position: relative;
        left: 40px;
    }
    #summary{
        position: relative;
        left: 30px;
    }
    #type{
        position: relative;
        left: 130px;
    }
    #points{
        position: relative;
        left: 60px;
    }
    #label{
        position: relative;
        right: 60px;
    }
    #epic, #asignee{
        position: relative;
        right: 30px;
    }

*/

    /* TICKETS */

    p{
        border: 1px solid #e9ecef;
        border-radius: 40px;
        background-color: #e9ecef;
        height: 35px;
        text-align: center;
        font-size: 16px;
        color: #252525;
        /* margin-left: 5px;
        margin-right: 5px; */
    }
    h1{
        margin-bottom: 35px;
    }
    .table-responsive{
        margin-left: 3em;
        margin-right: 3em;
    }

</style>

<!-- HEAD -->

<section id="head">

    <div id="flex">
        <div id="title">
            <h1 class="fw-light">Tickets</h1>
        </div>
        <div id="search">
            <form class="d-flex" role="search" id="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div id="filter">
            <a class="btn btn-outline-secondary" type="button" href="?">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                </svg>
            </a>
        </div>
    </div>

</section>

<!-- LABELS -->

<!--

<% /* %>

<section id="labels">

    <br>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="key">
                <h3 class="fw-light">Key</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"><td><%= ticket.Key %></td></h4>
                <% }); %>
            </div>
        </div>
        <div class="col">
            <div id="summary">
                <h3 class="fw-light">Summary</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"> <td><%= ticket.Summary %></td></h4>
                <% }); %>
            </div>
        </div>
        <div class="col">
            <div id="type">
                <h3 class="fw-light">Type</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"><td><%= ticket.Type %></td></h4>  
                <% }); %>   
            </div>
        </div>
        <div class="col">
            <div id="points">
                <h3 class="fw-light">Points</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"><td><%= ticket.Points %></td></h4>
                <% }); %>
            </div>
        </div>
        <div class="col">
            <div id="status">
                <h3 class="fw-light">Status</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"> <td><%= ticket.Status %></td></h4>
                <% }); %>
            </div>
        </div>
        <div class="col">
            <div id="label">
                <h3 class="fw-light">Label</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"><td><%= ticket.Label %></td></h4>
                <% }); %>
            </div>
        </div>
        <div class="col">
            <div id="epic">
                <h3 class="fw-light">Epic</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"><td><%= ticket.Epic %></td></h4>
                <% }); %>
            </div>
        </div>
        <div class="col">
            <div id="asignee">
                <h3 class="fw-light">Asignee</h3>
                <br>
                <% tickets.forEach(ticket => { %>
                <h4 class="small"><%= ticket.Assignee %></h4>
                <% }); %>
                
            </div>
        </div>
    </div>
    <% */ %>

    -->

    <style>
        .table-col {
            max-width: 200px; /* Establecer un ancho máximo de 200 píxeles para cada columna */
            overflow: hidden; /* Ocultar el contenido que sobrepase el ancho máximo */
            text-overflow: ellipsis; /* Mostrar puntos suspensivos al final del contenido que se ocultó */
            white-space: nowrap; /* Impedir que el contenido se ajuste automáticamente al ancho de la columna */
        }
    </style>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th id="key">Key</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Points</th>
                <th>Status</th>
                <th>Label</th>
                <th>Epic</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach(ticket => { %>
            <tr>
                <td class="table-col" id="key"><%= ticket.Key %></td>
                <td class="table-col"><%= ticket.Summary %></td>
                <td class="table-col"><%= ticket.Type %></td>
                <td class="table-col"><%= ticket.Points %></td>
                <td class="table-col"><%= ticket.Status %></td>
                <td class="table-col"><%= ticket.Label %></td>
                <td class="table-col"><%= ticket.Epic %></td>
                <td class="table-col"><%= ticket.Assignee %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
    
<!-- TICKETS -->

<section id="tickets">

    <br>

    
    
</section>

<%- include('includes/foot.ejs') %>