<%- include('includes/head.ejs') %>
    <style>
        h1{
            margin-top: 0.4em;
            margin-left: 1em;
            font-size: 58px;
        }
        #content {
            width: 50%;
            margin-left: 25%;
        }
    </style>

<br>
<section id="title">
    <div>
        <h1 class="fw-light">Users Registered</h1>
    </div>
</section>
<br>
<section id="content">
    <h3 class="fw-light">Select a user:</h3>
    <form id="formUser" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <select class="form-select" id="selUser" size=8>
            <%for (let user of users) {%>
                <option>
                    <%=user.user_Name%> -> <%=user.user_Mail%>
                </option>
            <%}%>
        </select>
    </form>

    <script>
        const select = document.getElementById('selUser');
        select.addEventListener('dblclick', () => {
        const form = document.getElementById('formUser');
        form.action = '/users/totalusers';
        form.submit();
        });

    </script>

<%- include('includes/foot.ejs') %>